<li><a href="{{ "/archive" | prepend:site.baseurl }}">Archive</a></li>
<li><a href="{{ "/about" | prepend:site.baseurl }}">About</a></li>
<li><a href="http://speaking.ellekasai.com/" target="_blank">Talks</a></li>
<li><a href="http://promo.ellekasai.com/" target="_blank">Model Photos</a></li>
<li><a href="http://twitter.com/ellekasai/" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
<li><a href="http://github.com/ellekasai/" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
<li><a href="http://www.linkedin.com/in/ellekasai" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
