<h3 class="section-header">
  Elle Kasai
</h3>

<p><img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai"></p>

<p>88年七夕生まれ。決済系のITベンチャーで法人営業として働いていたが､この春に退職｡現在は某社のアシスタントデザイナーとして､スキルアップに邁進中。素材写真モデルとしても活動している｡学習院女子大学国際文化交流学部出身｡趣味は読書と映画鑑賞、特技は朗読やアナウンスといった放送系。</p>

<p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @ellekasai</a></p>

<p>This blog is using the Shiori theme:</p>

<iframe src="http://ghbtns.com/github-btn.html?user=ellekasai&repo=shiori&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
