---
---

@charset "UTF-8";

/*———————————–———————————–
  For Mobile
———————————–———————————–*/

@import "about/variables";
@import "about/mixins";
@import "about/base";
@import "about/layout";
@import "about/button";
@import "about/animation";
@import "about/col";
@import "about/contact";

/*———————————–———————————–
  For Tablet device
———————————–———————————–*/

@include md-and-up {
  section,
  footer .contact,
  .bg-story_inner {
    width: 80%;
  }
  .header_inner {
    padding: 10% 10% 65%;
    box-sizing: border-box;
  }
  button {
    font-size: 1.8rem;
  }
  .btn-wrapper {
    width: 25%;
  }
  .row {
    margin-left: -5%;
  }
  .col {
    margin-left: 5%;
  }
  .col + .col {
    margin-top: 7%;
  }
  .col-sm.col-intro {
    width: 95%;
    min-height: 100%;
  }
  .col-sm {
    width: 45%;
  }
  .col-sm:nth-child(4),
  .col-sm:nth-child(8) {
    clear: both;
  }
  .col-sm > a:hover img {
    opacity: 0.6;
  }
  .col-sm_images {
    width: 28%;
    margin-top: 5%;
  }
  .col-sm_images img {
    width: 70%;
  }
  .col-sm_images + .col-sm_images {
    margin-top: 5%;
  }
  .bg-story_inner > .row,
  .bg-story_inner > .row > .col {
    margin-left: 0;
  }
  section.bg-story {
    padding-bottom: 60%;
  }
  .bg-story .row,
  .hello .row {
    margin-left: 0;
  }
  .bg-story .col,
  .hello .col-lg {
    margin-left: 0;
  }
  .hello h2 {
    margin-bottom: 4%;
  }
  .contact > p {
    font-size: 1.8rem;
  }
  .contact i {
    font-size: 4rem;
  }
  header .contact > ul {
    text-align: left;
  }
}

/*———————————–———————————–
  For Desktop
———————————–———————————–*/

@include lg-and-up {
  body {
    font-size: 1.6rem;
  }
  header {
    background: url("/images/about/ellekasai.jpg") no-repeat top right;
    background-size: cover;
  }
  main,
  footer,
  section.bg-story {
    padding: 5% 0;
  }
  section + section {
    margin-top: 5%;
  }
  h1 {
    width: 60%;
    color: #78817a;
    font-size: 6rem;
  }
  h2 {
    margin-bottom: 2%;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    margin-bottom: 2%;
  }
  .header_inner {
    padding: 8% 10%;
  }
  .row {
    margin: -3% 0 0 -3.3%;
  }
  .col {
    margin: 5% 0 0 3.3%;
  }
  .col + .col {
    margin-top: 5%;
  }
  .col-sm,
  .col-sm.col-intro {
    width: 30%;
  }
  .col-sm:nth-child(4),
  .col-sm:nth-child(7) {
    clear: both;
  }
  .col-sm:nth-child(8) {
    clear: none;
  }
  .col-sm.col-intro {
    margin-top: 3%;
  }
  .hello {
    width: 46%;
  }
  .hello .row,
  .col.col-lg {
    margin-left: 0;
  }
  .hello h2,
  .events h2,
  .events p {
    text-align: center;
  }
  .events h2 {
    margin-bottom: 3%;
  }
  .col-sm.col-sm_images {
    clear: none;
    width: 16%;
    margin: 8% 0 0 3.8%;
  }
  .col-sm_images img {
    width: 80%;
  }
  .contact {
    width: 60%;
  }
  .contact > p {
    color: #78817a;
    font-size: 2rem;
  }
  header .contact p {
    color: #78817a;
  }
  section.bg-story {
    background: url("/images/about/sales.jpg") no-repeat center 30%;
    background-size: cover;
  }
  .bg-story.bg-none {
    background: url("/images/about/sales.jpg") no-repeat center center;
    background-size: cover;
    padding: 5% 0;
  }
  .bg-story_content {
    float: right;
    width: 50%;
    margin-right: 3%;
  }
  .story_img {
    display: none;
  }
}

@include xl-and-up {
  header {
    background-position: right 30%;
  }
  .header_inner {
    max-width: 115rem;
    margin: 0 auto;
    padding: 8% 0;
  }
  section,
  footer .contact {
    max-width: 115rem;
  }
  section.bg-story {
    max-width: 100%;
  }
  .bg-story_inner {
    max-width: 115rem;
  }
  .hello {
    max-width: 60rem;
  }
}
