---
---

@charset "UTF-8";

@import "about/variables";
@import "about/mixins";
@import "about/placeholders";
@import "about/base";
@import "about/text";
@import "about/layout";
@import "about/header";
@import "about/footer";
@import "about/container";
@import "about/col";
@import "about/button";
@import "about/contact";
@import "about/social-links";
@import "about/gallery-item";
@import "about/animation";
