html {
  font-size: $font-size-base;
  @include md-and-up {
    font-size: $font-size-base-md-up;
  }
}

body {
  color: #727272;
  font-family: "Roboto", sans-serif;
  font-size: $font-size-body;
  line-height: 1.6;
}

h1, h2, h3 {
  line-height: 1.2;
}
h1, h2, h3, .contact > p {
  color: #78817a;
}
h1 > span, h2, h3 {
  font-weight: 400;
}
h1, h2, figure, ul {
  margin: 0;
}
h1 {
  font-size: $font-size-h1;
  font-weight: 100;
  letter-spacing: -1px;

  @include lg-and-up {
    width: 60%;
    color: #78817a;
  }
}
h2 {
  font-size: $font-size-h2;

  @include lg-and-up {
    margin-bottom: 2%;
  }
}
h3 {
  margin: 5% 0 0;
  font-size: $font-size-h3;
}
h3 + p {
  margin: 3% 0 0;
}
iframe {
  margin: 3% 0 0 0%;
}
iframe + p {
  margin: 0;
}
figcaption {
  margin-top: 5%;
  color: #99a599;
  text-align: center;
}
ul {
  padding-left: 7%;
  font-family: 'Roboto Slab', serif;

  @include md-and-up {
    padding-left: 3%;
  }
}
li + li {
  margin-top: 3%;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  color: #3BAF65;
  text-decoration: none;
}
a:hover {
  color: #2A7B47;
}