html {
  font-size: $font-size-base;
  @include md-and-up {
    font-size: $font-size-base-md-up;
  }
}

body {
  color: #727272;
  font-family: $font-family-body;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
  line-height: 1.6;
}

h1, h2, h3 {
  color: $color-heading;
  font-family: $font-family-heading;
  line-height: 1.2;
}
figcaption {
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
}
h2, h3 {
  font-weight: $font-weight-heading;
}
h1, figure, ul {
  margin: 0;
}
h1 {
  font-size: $font-size-h1;
  font-weight: 100;
  letter-spacing: -1px;

  @include lg-and-up {
    width: 60%;
    color: #78817a;
  }

  strong {
    font-weight: $font-weight-heading;
  }
}
h2 {
  font-size: $font-size-h2;
  margin: 0 0 0.75em;
}
h3 {
  margin: 5% 0 0;
  font-size: $font-size-h3;
}
h3 + p {
  margin: 3% 0 0;
}
iframe {
  margin: 3% 0 0 0%;
}
iframe + p {
  margin: 0;
}
figcaption {
  margin-top: 5%;
  color: #99a599;
  text-align: center;
}
ul {
  padding-left: 7%;

  @include md-and-up {
    padding-left: 3%;
  }
}
li + li {
  margin-top: 3%;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  color: #3BAF65;
  text-decoration: none;
}
a:hover {
  color: #2A7B47;
}