* {
  box-sizing: border-box;
}
html {
  font-size: $font-size-base;

  @include md-and-up {
    font-size: $font-size-base-md-up;
  }
}
body {
  color: $color-body;
  font-family: $font-family-body;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
  line-height: 1.6;
}
h1, h2, h3 {
  color: $color-heading;
  font-family: $font-family-heading;
  line-height: 1.2;
}
h1 {
  margin: 0;
  font-size: $font-size-h1;
  font-weight: 100;
  letter-spacing: -1px;

  strong {
    font-weight: $font-weight-heading;
  }
}
h2 {
  margin: 0 0 0.75em;
  font-size: $font-size-h2;
  font-weight: $font-weight-heading;
}
h3 {
  margin: 0 0 0.75em;
  font-size: $font-size-h3;
  font-weight: $font-weight-heading;
}
p {
  margin: 0 0 1em;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  color: $color-link;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-link-hover;
  }
}