html {
  font-size: 62.5%;
}
body {
  color: #727272;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}
h1, h2, h3, h4 {
  line-height: 1.2;
}
h1, h2, h3, h4, .contact > p {
  color: #78817a;
}
h1 > span, h2, h3, h4 {
  font-weight: 400;
}
h1, h2, figure, ul {
  margin: 0;
}
h1 {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: -1px;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  margin: 5% 0 0;
  font-size: 1.8rem;
}
h3 + p {
  margin: 3% 0 0;
}
h4 {
  margin: 0 0 5%;
  font-size: 1.6rem;
}
iframe {
  margin: 3% 0 0 0%;
}
iframe + p {
  margin: 0;
}
figcaption {
  margin-top: 5%;
  color: #99a599;
  text-align: center;
}
ul {
  padding-left: 7%;
  font-family: 'Roboto Slab', serif;
}
li + li {
  margin-top: 3%;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  color: #3BAF65;
  text-decoration: none;
}
a:hover {
  color: #2A7B47;
}