.btn-wrapper {
  display: inline-block;
  width: 50%;

  @include md-and-up {
    width: 25%;
  }
}
button {
  width: 100%;
  padding: 5% 10%;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #727272;
  border-radius: 0.5rem;
  color: #727272;
  font-family: $font-family-heading;
  font-size: $font-size-body;
  font-weight: $font-weight-heading;
}
button:hover {
  border-color: #3BAF65;
  color: #3BAF65;
}