.btn-wrapper {
  display: inline-block;
  width: 50%;

  @include md-and-up {
    width: 25%;
  }
}
button {
  width: 100%;
  padding: 5% 10%;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid $color-body;
  border-radius: 0.5rem;
  color: $color-body;
  font-family: $font-family-heading;
  font-size: $font-size-body;
  font-weight: $font-weight-heading;

  &:hover, &:focus {
    border-color: $color-link-hover;
    color: $color-link-hover;
  }
}