.btn-wrapper {
  display: inline-block;
  width: 50%;
}
button {
  width: 100%;
  padding: 5% 10%;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #727272;
  border-radius: 0.5rem;
  color: #727272;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
button:hover {
  border-color: #3BAF65;
  color: #3BAF65;
}