.row:before,
.row:after,
.col-lg_images:before,
.col-lg_images:after,
.bg-story_inner:before,
.bg-story_inner:after {
  content:"";
  display:block;
  overflow:hidden;
}
.row:after,
.col-lg_images:after,
.bg-story_inner:after {
  clear:both;
}
.col {
  float: left;
}
.col + .col {
  margin-top: 15%;
}
.col-lg h3 {
  margin: 7% 0 0;
}
.col-lg ul {
  margin-top: 5%;
}
.col {
  float: left;
  width: 100%;
}
.col-sm > a {
  display: block;
}
.col-sm p > span {
  color: #aaa;
}
.col-sm_images img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
}
.col-sm_images + .col-sm_images {
  margin-top: 10%;
}