.row {
  @include md-and-up {
    margin-left: -5%;
  }

  @include lg-and-up {
    margin: -3% 0 0 -3.3%;
  }
}
.row:before,
.row:after,
.col-lg_images:before,
.col-lg_images:after,
.bg-story_inner:before,
.bg-story_inner:after {
  content:"";
  display:block;
  overflow:hidden;
}
.row:after,
.col-lg_images:after,
.bg-story_inner:after {
  clear:both;
}
.col {
  float: left;
  width: 100%;

  @include md-and-up {
    margin-left: 5%;
  }

  @include lg-and-up {
    margin: 5% 0 0 3.3%;
  }
}
.col + .col {
  margin-top: 15%;

  @include md-and-up {
    margin-top: 7%;
  }

  @include lg-and-up {
    margin-top: 5%;
  }
}
.col-lg h3 {
  margin: 7% 0 0;
}
.col-lg ul {
  margin-top: 5%;
}
.col-sm {
  @include md-and-up {
    width: 45%;

    &.col-intro {
      width: 95%;
      min-height: 100%;
    }

    &:nth-child(4),
    &:nth-child(8) {
      clear: both;
    }

    > a:hover img {
      opacity: 0.6;
    }
  }

  @include lg-and-up {
    width: 30%;

    &.col-intro {
      width: 30%;
      margin-top: 3%;
    }

    &:nth-child(4),
    &:nth-child(7) {
      clear: both;
    }

    &:nth-child(8) {
      clear: none;
    }
  }
}
.col-sm > a {
  display: block;
}
.col-sm p > span {
  color: #aaa;
}
.col-sm_images {
  @include md-and-up {
    width: 28%;
    margin-top: 5%;
  }

  img {
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;

    @include md-and-up {
      width: 70%;
    }

    @include lg-and-up {
      width: 80%;
    }
  }

  & + & {
    margin-top: 10%;

    @include md-and-up {
      margin-top: 5%;
    }
  }
}