.row {
  @include clearfix;
  @include md-and-up {
    margin-left: -5%;
  }

  @include lg-and-up {
    margin: -3% 0 0 -3.3%;
  }
}
.col {
  float: left;
  width: 100%;

  @include md-and-up {
    margin-left: 5%;
  }

  @include lg-and-up {
    margin: 5% 0 0 3.3%;
  }
}
.col + .col {
  margin-top: 15%;

  @include md-and-up {
    margin-top: 7%;
  }

  @include lg-and-up {
    margin-top: 5%;
  }
}
.col-sm {
  @include md-and-up {
    width: 45%;

    &.col-intro {
      width: 95%;
      min-height: 100%;
    }

    &:nth-child(4),
    &:nth-child(8) {
      clear: both;
    }
  }

  @include lg-and-up {
    width: 30%;

    &.col-intro {
      width: 30%;
      margin-top: 3%;
    }

    &:nth-child(4),
    &:nth-child(7) {
      clear: both;
    }

    &:nth-child(8) {
      clear: none;
    }
  }
}
.col-sm_images {
  @include md-and-up {
    width: 28%;
    margin-top: 5%;
  }

  & + & {
    margin-top: 10%;

    @include md-and-up {
      margin-top: 5%;
    }
  }
}
.col-sm.col-sm_images {
  @include lg-and-up {
    clear: none;
    width: 16%;
    margin: 8% 0 0 3.8%;
  }
}