.container {
  padding-left: 5%;
  padding-right: 5%;

  @include md-and-up {
    padding-left: 10%;
    padding-right: 10%;
  }

  @include xl-and-up {
    max-width: 67rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}