.gallery-wrapper {
  margin-bottom: -3rem;
}

.gallery-intro {
  margin-bottom: 3rem;
}

.gallery-item {
  margin-bottom: 3rem;
}

.gallery-item__figure {
  margin: 0;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  text-align: center;
}

.gallery-item__image {
  margin-bottom: 1.25em;


  a:hover & {
    opacity: 0.6;
  }

  &.gallery-item__image--event {
    max-width: $circle-thumbnail-width;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}
