header {
  background: url("/images/about/ellekasai-mobile.jpg") no-repeat bottom center;
  background-size: cover;

  @include lg-and-up {
    background: url("/images/about/ellekasai.jpg") no-repeat top right;
    background-size: cover;
  }
}
main,
footer,
section.bg-story {
  padding: 10% 0;
}
section,
footer .contact,
.bg-story_inner {
  width: 90%;
  margin: 0 auto;

  @include md-and-up {
    width: 80%;
  }
}
section + section {
  margin-top: 10%;
}
section p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
footer {
  background-color: #dae2dd;
}
.header_inner {
  padding: 10% 5% 85%;
  box-sizing: border-box;

  @include md-and-up {
    padding: 10% 10% 65%;
  }
}
section.bg-story {
  width: 100%;
  padding-bottom: 75%;
  background: url("/images/about/sales-white.jpg") no-repeat bottom center;
  background-size: cover;

  @include md-and-up {
    padding-bottom: 60%;
  }
}
#js-after {
  display: none;
}
.bg-story.bg-none {
  background: none;
  padding: 10% 0 0;
}
.story_img {
  margin: 10% 0 0;
  text-align: center;
}
.story_img img {
  display: inline;
  width: 50%;
  border-radius: 50%;
}
.hello h2 {
  margin-bottom: 5%;

  @include md-and-up {
    margin-bottom: 4%;
  }
}