main {
  padding: 10% 0;

  @include lg-and-up {
    padding: 5% 0;
  }
}
section,
.bg-story_inner {
  width: 90%;
  margin: 0 auto;

  @include md-and-up {
    width: 80%;
  }

  @include xl-and-up {
    max-width: 67rem;
  }
}
section + section {
  margin-top: 10%;

  @include lg-and-up {
    margin-top: 5%;
  }
}
section.bg-story {
  width: 100%;
  padding: 10% 0;
  padding-bottom: 75%;
  background: url("/images/about/sales-white.jpg") no-repeat bottom center;
  background-size: cover;

  @include md-and-up {
    padding-bottom: 60%;
  }

  @include lg-and-up {
    padding: 5% 0;
    background: url("/images/about/sales.jpg") no-repeat center 30%;
    background-size: cover;
  }

  @include xl-and-up {
    max-width: 100%;
  }
}
.bg-story_content {
  @include lg-and-up {
    float: right;
    width: 50%;
    margin-right: 3%;
  }
}
#js-after {
  display: none;
}
.bg-story.bg-none {
  background: none;
  padding: 10% 0 0;

  @include lg-and-up {
    background: url("/images/about/sales.jpg") no-repeat center center;
    background-size: cover;
    padding: 5% 0;
  }
}
.story_img {
  margin: 10% 0 0;
  text-align: center;

  @include lg-and-up {
    display: none;
  }
}
.story_img img {
  display: inline;
  width: 50%;
  border-radius: 50%;
}
.hello {
  @include lg-and-up {
    width: 46%;
  }

  @include xl-and-up {
    max-width: 36rem;
  }

  h2 {
    @include lg-and-up {
      text-align: center;
    }
  }
}
.events {
  h2 {
    @include lg-and-up {
      text-align: center;
    }
  }
  p {
    @include lg-and-up {
      text-align: center;
    }
  }
}