%header-footer-common {
  color: $color-heading;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;

  a {
    color: $color-light-link;

    &:hover, &:focus {
      color: $color-light-link-hover;
    }
  }
}