$md-screen-width: 46.8em;
$lg-screen-width: 70em;
$xl-screen-width: 135em;

$font-size-base: 14px;
$font-size-base-md-up: 17px;
$font-size-body: 1rem;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.2rem;
$font-size-small: 0.85rem;

$font-family-body: "Roboto Slab", serif;
$font-weight-body: 300;
$font-family-heading: "Roboto", sans-serif;
$font-weight-heading: 400;

$color-heading: #78817a;
$color-body: #727272;
$color-body-muted: #aaa;
$color-link: #3BAF65;
$color-link-hover: #2A7B47;
$color-light-link: #99a599;
$color-light-link-hover: #737B73;

$circle-thumbnail-width: 10rem;