$md-screen-width: 46.8em;
$lg-screen-width: 70em;
$xl-screen-width: 135em;

$font-size-base: 14px;
$font-size-base-md-up: 17px;
$font-size-body: 1rem;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.2rem;
$font-size-small: .85rem;

$font-family-body: "Roboto Slab", serif;
$font-weight-body: 300;
$font-family-heading: "Roboto", sans-serif;
$font-weight-heading: 400;

$color-heading: #78817a;